*{
    margin: 0;
    padding: 0;
}
.mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    background-color: antiquewhite;

}
.squareWrapper{
    background-color: black;
    /* height: 50%; */
    border-radius: 5px;
    padding: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
.square{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: rgb(154, 145, 145);
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
 
}
.disabled {
    background-color: #d6c0c0;
    color: #999;
    pointer-events: none; /* Disable mouse events */
  }

.undo{
margin-top: 4px; 
padding: 4px 10px;
font-weight:600 ;
border: 1px solid black;
background-color: white;
color: black;
border-radius: 20px;
cursor: pointer;

}

.undo:hover{
    background-color: black;
color: white;
border: 1px solid white;
}
.winningLine {
    position: absolute;
    width: 0px;
    height: 0px;
   

}
.horizental1{
 top: 32%;
 width: 200px;
 height: 3px;
 transition: width 1.5s ease-in-out;
}
.horizental2{
 top: 50%;
 width: 200px;
 height: 3px;
 transition: width 1.5s ease-in-out;
}
.horizental3{
 top: 68%;
 width: 200px;
 height: 3px;
 transition: width 1.5s ease-in-out;
}
.vertical1{
    top: 28%;
    left: 44%;
    height: 200px;
    width: 3px;
    transition: height 1.5s ease-in-out;
}
.vertical2{
    top: 28%;
    left: 50%;
    height: 200px;
    width: 3px;
    transition: height 1.5s ease-in-out;
}
.vertical3{
    top: 28%;
    left: 56%;
    height: 200px;
    width: 3px;
    transition: height 1.5s ease-in-out;
}

@media screen and (max-width: 600px) {
    .horizental1{
        top: 37.1%;
       }
    .horizental3{
   top: 64%;
  }
  .vertical2{
    top: 34%;
  }
  .vertical1{
    top: 34%;
    left: 23%;
   
  }
  .vertical3{
    top: 34%;
    left: 76%;
  }
  }

